{{ template "partials/header" .}}

<div class="tasks-container">
	<table class="table is-striped is-hoverable">
		<thead>
			<tr>
				<td scope="col">
					Task name
				</td>
				<td scope="col">
					Exec command
				</td>
				<td scope="col">
					CRON
				</td>
				<td scope="col">
					Runner
				</td>
				<td scope="col">
					State
				</td>
				<td scope="col">
					Actions
				</td>
			</tr>

		</thead>
		<tbody>
			{{ range .Tasks}}
			<tr>
				<td scope="row">{{ .Name }}</td>
				<td>{{ .Exec }}</td>
				<td>{{ .Cron }}</td>
				<td>{{ .Runner }}</td>
				<td {{if eq .State "PENDING" }} class="is-success" {{end}} {{if eq .State "STOPPED" }}
					class="is-warning" {{end}} {{if eq .State "ERRORED" }} class="is-danger" {{end}}
					{{if eq .State "RUNNING" }} class="is-primary" {{end}}>{{ .State
					}}</td>
				<td>
					<p class="buttons">
						<button class="button">
							<span class="icon">
								<i class="fas fa-play fa-lg"></i>
							</span>
						</button>
						<button class="button">
							<span class="icon is-lg">
								<i class="fas fa-stop fa-lg"></i>
							</span>
						</button>
						<a class="button" href="/exec?task={{ .Name }}">
							<span class="icon">
								<i class="fas fa-file fa-lg"></i>
							</span>
						</a>
					</p>
				</td>
			</tr>
			{{ end }}
		</tbody>
	</table>
</div>


{{ template "partials/footer" .}}
